<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SimpleForm: Forms made easy (for Rails) - PlataformaTec</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'XXXXXXXXXX']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    -->
  </head>
  <body>
    <div id="container">
      <header>
        <h1>SimpleForm: Forms made easy (for Rails)</h1>
        <nav>
          <a href="/index.html#information" title="Information">Information</a> |
          <a href="/index.html#installation" title="Installation">Installation</a> |
          <a href="/usage.html" title="Usage">Usage</a> |
          <a href="/html5.html" title="HTML5">HTML5</a> |
          <a href="/i18n.html" title="I18n">I18n</a> |
          <a href="/mappings.html" title="Available Inputs">Available Inputs</a> |
          <a href="/buttons.html" title="Buttons">Buttons</a> |
          <a href="/custom_forms.html" title="Custom Forms">Custom Forms</a> |
          <a href="/custom_inputs.html" title="Custom Inputs">Custom Inputs</a> |
          <a href="/extra_helpers.html" title="Extra Helpers">Extra Helpers</a>
        </nav>
      <header>
      {{ content }}
    </div>
  </body>
</html>
